<br>
<br>
<div card-body>
  <h4>sales schedule</h4>
  <br>
  <form class="form-horizontal" [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
    <div class="row">

      <div class="col-sm-3">
        <div class="form-group">
          <label for="" style="margin-left:18px">Retailer name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="retailer_name" formControlName="retailer_name" placeholder="enter retailer Name"
             >
          </div>
        </div>
      </div>
      <div class="col-md-3" style="z-index:2">
        <!-- <label>Date: </label>
        <input [ngModel]="theDate | date:'yyyy-MM-dd'" (ngModelChange)="onDate($event)" type="date" name="theDate"
          [ngModelOptions]="{standalone: true}" />
        <br> -->
        <div class="form-group">
          <label for="">Date</label>
          <input type="text" class="form-control" formControlName="Date"  [ngModel]="theDate | date:'yyyy-MM-dd'" (ngModelChange)="onDate($event)" type="date" name="theDate"
           >
        </div>
        <!-- Date in format MM-dd-yyyy<br>
        <b>{{theDate | date:'MM-dd-yyyy'}}</b> -->
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <!-- <label for="name" class="col-sm-2 control-label">Password</label> -->
          <div class="col-sm-10">
            <input type="time" value="{{selectedInTime}}" class="intime">
            <button (click)="openInTimeDialog()" class="intimebtn">Time</button>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <!-- <label for="name" class="col-sm-2 control-label">Password</label> -->
          <div class="col-sm-10">
    
            <input type="time" value="{{selectedOutTime}}" class="intime">
            <button (click)="openOutTimeDialog()" class="intimebtn">Time</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <div class="form-group">
          <button type="submit" class="btn btn-primary btnClass">Submit</button>
        </div>
      </div>

    </div>
  </form>
  <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>

</div>