.btnClass{
    border: 1px solid black;
    width: 26%;
    color: white;
    background-color: black;
    float: right;
    margin-right: 61px;
}
.intime{
    padding: 5px;
    width: 77%;
  //  margin-top: 27px;
}
.intimebtn{
    color:white;
    padding: 8px;
    background-color: black;
     border: none;

}
.salesStyle{
    margin-top: 30px;
   font-size: 32px;
   font-weight: 400;
   margin-left: 13px;
   text-align:center;
   
   }
   .smartTableStyle{
    padding:60px;
    
    }
   .timeStyle{
    margin-left: 14px;
   }
