.btnClass{
    border: 1px solid black;
    width: 26%;
    color: white;
    background-color: black;
    float: right;
    margin-right: 61px;
}
.intime{
    padding: 5px;
    width: 77%;
    margin-top: 27px;
}
.intimebtn{
    color:white;
    padding: 8px;
    background-color: black;
     border: none;

}
