.loginStyle{
    margin-top: 65px;
    font-size: 37px;
    font-weight: 400;
    margin-left: 13px;
    margin-bottom:40px;
}
.btnClass{
    border: 1px solid black;
    width: 76%;
    margin-left: 16px;
    color: white;
    background-color: black;

}